<!DOCTYPE html>
<html>
<head>
  <style>
    @font-face {
    font-family: "Druk";
    src: url("/fonts/Druk Wide Bold.otf") format("otf")
    }

    @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/Mark Simonson - Proxima Nova Black.otf") format("otf")
    }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proxy Market</title>
    <script src="//www.free-kassa.ru/widget/w.js"></script>
</head>
<body style="background-color: #242121;">
<div id="app">
    <!-- React will load here -->
</div>
</body>
{% load static %}
<script src="{% static 'frontend/main.js' %}"></script>
</html>
